@layer core.theme {
	:root {
		accent-color: var(--brand-500);
		background-color: var(--brand-100);
		color: var(--neutral-900);
		font-family: var(--fontFamily-body);
	}

	body {
		font-size: var(--fontSize-0);
	}

	@media (prefers-reduced-motion: no-preference) {
		:root {
			scroll-behavior: smooth;
		}

		@view-transition {
			navigation: auto;
		}
	}

	h1 {
		font-size: var(--fontSize-2);
		font-weight: 600;
	}

	h2 {
		font-size: var(--fontSize-1);
		font-weight: 500;
	}

	:where(a, button, input, select) {
		outline: 3px solid transparent;
		outline-offset: 0.2em;
		transition: outline-color 0.2s ease-in-out;

		&:focus-visible {
			outline-color: var(--focusRingColor);
		}
	}

	a {
		border-radius: 0.2em;
		color: var(--linkColor);

		&:visited {
			color: var(--linkColor-visited);
		}
	}

	input:where(
			:not([type]),
			[type='text'],
			[type='search'],
			[type='url'],
			[type='email'],
			[type='tel'],
			[type='number'],
			[type='password']
		),
	select {
		--padding-block: 0.2rem;
		--padding-inline: 0.4rem;
		padding-block: var(--padding-block);
		padding-inline: var(--padding-inline);
		background-color: var(--brand-050);
		border: 2px solid var(--brand-800);
		border-radius: 0.75rem;
		box-shadow:
			inset 0.5px 1px 1px 1px color-mix(in srgb, var(--neutral-950), transparent 90%),
			inset 1px 2px 3px 1px color-mix(in srgb, var(--neutral-950), transparent 95%);
		transition:
			background-color 0.2s ease-in-out,
			border-color 0.2s ease-in-out,
			box-shadow 0.2s ease-in-out,
			outline-color 0.2s ease-in-out;

		&:hover,
		&:focus {
			background-color: white;
			border-color: var(--brand-950);
		}

		&:focus {
			box-shadow:
				inset 0.5px 1px 1px 1px color-mix(in srgb, var(--neutral-950), transparent 80%),
				inset 1.5px 3px 4px 1px color-mix(in srgb, var(--neutral-950), transparent 90%);
		}
	}

	select {
		--arrow-size: 16px;
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='%23011644' stroke='%23011644' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 12L4 4H12L8 12Z' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-repeat: no-repeat;
		background-size: var(--arrow-size);
		background-position: calc(100% - var(--padding-inline)) 50%;
		padding-inline-end: calc(var(--padding-inline) * 2 + var(--arrow-size));
	}

	input[type='range'] {
		border-radius: 0.25rem;
		/* outline-offset: 1px; */
	}

	pre {
		/* https://github.com/system-fonts/modern-font-stacks?tab=readme-ov-file#monospace-code */
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
	}

	button {
		position: relative;
		display: inline-block;
		border: 0;
		vertical-align: middle;
		text-decoration: none;
		font-family: inherit;
		font-size: var(--fontSize-0);
	}

	fieldset {
		border: 2px solid var(--brand-400);
		border-radius: 1rem;
		padding: 1rem;
		padding-block-start: 0.5rem;
	}

	legend {
		padding-inline: 0.25rem;
	}

	.visually-hidden {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border-width: 0;
	}
}
